# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
ENV/

# Environment files
.env
.env.*

# IDE files
.vscode/
.idea/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db
